<form class="margin-1 margin-lr-5 margin-bottom-5 admin-page padding-5" novalidate flex layout="column" name="addBlogForm">
    <h1 class="margin-top-0">ADD NEW BLOG</h1>

    <md-input-container md-no-float class="md-block">
        <label>Title</label>
        <input name="blogTitle" required ng-model="addBlogCtrl.blog.title" ng-change="addBlogCtrl.autoLoadSlug()" ng-model-options="{debounce:100}">
        <div ng-messages="addBlogForm.blogTitle.$error">
            <div ng-message="required">This is required</div>
        </div>
    </md-input-container>

    <md-input-container md-no-float class="md-block">
        <label>Slug</label>
        <input name="blogSlug" required ng-model="addBlogCtrl.blog.slug" ng-pattern="/^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$/">
        <div ng-messages="addBlogForm.blogSlug.$error">
            <div ng-message="pattern">Slug is Invalid</div>
            <div ng-message="required">Slug is required</div>
        </div>
    </md-input-container>

    <ng-quill-editor ng-model="addBlogCtrl.blog.content" class="margin-bottom-2" place-holder="Content"></ng-quill-editor>

    <md-input-container class="md-block">
        <label>Summary</label>
        <textarea ng-model="addBlogCtrl.blog.summary" md-maxlength="300" rows="2" md-select-on-focus></textarea>
    </md-input-container>

    <md-chips class="margin-bottom-2" ng-model="addBlogCtrl.blog.keywords" readonly="false" md-max-chips="15" md-add-on-blur="true" aria-placeholder="keywords" placeholder="Keywords" md-removable="true"></md-chips>

    <div class="margin-top-2" layout="row">
        <md-button class="md-raised md-accent submit-btn margin-right-2" ng-click="addBlogCtrl.saveBlog('DRAFT')">Draft</md-button>
        <md-button class="md-raised md-primary submit-btn margin-right-2"  ng-click="addBlogCtrl.saveBlog('PUBLISH')">Publish</md-button>

    </div>
</form>