.padding-0 {
  padding: 0px;
}

.padding-top-0 {
  padding-top: 0px;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}

.padding-left-0 {
  padding-left: 0px;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-lr-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-tb-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.margin-0 {
  margin: 0px;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-left-0 {
  margin-left: 0px;
}

.margin-right-0 {
  margin-right: 0px;
}

.margin-lr-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.margin-tb-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 600px) {
  .padding-gt-xs-0 {
    padding: 0px;
  }
}

@media screen and (min-width: 600px) {
  .padding-top-gt-xs-0 {
    padding-top: 0px;
  }
}

@media screen and (min-width: 600px) {
  .padding-bottom-gt-xs-0 {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 600px) {
  .padding-left-gt-xs-0 {
    padding-left: 0px;
  }
}

@media screen and (min-width: 600px) {
  .padding-right-gt-xs-0 {
    padding-right: 0px;
  }
}

@media screen and (min-width: 600px) {
  .padding-lr-gt-xs-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 600px) {
  .padding-tb-gt-xs-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 600px) {
  .margin-gt-xs-0 {
    margin: 0px;
  }
}

@media screen and (min-width: 600px) {
  .margin-top-gt-xs-0 {
    margin-top: 0px;
  }
}

@media screen and (min-width: 600px) {
  .margin-bottom-gt-xs-0 {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 600px) {
  .margin-left-gt-xs-0 {
    margin-left: 0px;
  }
}

@media screen and (min-width: 600px) {
  .margin-right-gt-xs-0 {
    margin-right: 0px;
  }
}

@media screen and (min-width: 600px) {
  .margin-lr-gt-xs-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 600px) {
  .margin-tb-gt-xs-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 600px) {
  .padding-xs-0 {
    padding: 0px;
  }
}

@media screen and (max-width: 600px) {
  .padding-top-xs-0 {
    padding-top: 0px;
  }
}

@media screen and (max-width: 600px) {
  .padding-bottom-xs-0 {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 600px) {
  .padding-left-xs-0 {
    padding-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .padding-right-xs-0 {
    padding-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .padding-lr-xs-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .padding-tb-xs-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 600px) {
  .margin-xs-0 {
    margin: 0px;
  }
}

@media screen and (max-width: 600px) {
  .margin-top-xs-0 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 600px) {
  .margin-bottom-xs-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 600px) {
  .margin-left-xs-0 {
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .margin-right-xs-0 {
    margin-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .margin-lr-xs-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .margin-tb-xs-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.padding-1 {
  padding: 10px;
}

.padding-top-1 {
  padding-top: 10px;
}

.padding-bottom-1 {
  padding-bottom: 10px;
}

.padding-left-1 {
  padding-left: 10px;
}

.padding-right-1 {
  padding-right: 10px;
}

.padding-lr-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-tb-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.margin-1 {
  margin: 10px;
}

.margin-top-1 {
  margin-top: 10px;
}

.margin-bottom-1 {
  margin-bottom: 10px;
}

.margin-left-1 {
  margin-left: 10px;
}

.margin-right-1 {
  margin-right: 10px;
}

.margin-lr-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-tb-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .padding-gt-xs-1 {
    padding: 10px;
  }
}

@media screen and (min-width: 600px) {
  .padding-top-gt-xs-1 {
    padding-top: 10px;
  }
}

@media screen and (min-width: 600px) {
  .padding-bottom-gt-xs-1 {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 600px) {
  .padding-left-gt-xs-1 {
    padding-left: 10px;
  }
}

@media screen and (min-width: 600px) {
  .padding-right-gt-xs-1 {
    padding-right: 10px;
  }
}

@media screen and (min-width: 600px) {
  .padding-lr-gt-xs-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 600px) {
  .padding-tb-gt-xs-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 600px) {
  .margin-gt-xs-1 {
    margin: 10px;
  }
}

@media screen and (min-width: 600px) {
  .margin-top-gt-xs-1 {
    margin-top: 10px;
  }
}

@media screen and (min-width: 600px) {
  .margin-bottom-gt-xs-1 {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 600px) {
  .margin-left-gt-xs-1 {
    margin-left: 10px;
  }
}

@media screen and (min-width: 600px) {
  .margin-right-gt-xs-1 {
    margin-right: 10px;
  }
}

@media screen and (min-width: 600px) {
  .margin-lr-gt-xs-1 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 600px) {
  .margin-tb-gt-xs-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .padding-xs-1 {
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .padding-top-xs-1 {
    padding-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .padding-bottom-xs-1 {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .padding-left-xs-1 {
    padding-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .padding-right-xs-1 {
    padding-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .padding-lr-xs-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .padding-tb-xs-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .margin-xs-1 {
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {
  .margin-top-xs-1 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .margin-bottom-xs-1 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .margin-left-xs-1 {
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .margin-right-xs-1 {
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .margin-lr-xs-1 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .margin-tb-xs-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.padding-2 {
  padding: 20px;
}

.padding-top-2 {
  padding-top: 20px;
}

.padding-bottom-2 {
  padding-bottom: 20px;
}

.padding-left-2 {
  padding-left: 20px;
}

.padding-right-2 {
  padding-right: 20px;
}

.padding-lr-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-tb-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.margin-2 {
  margin: 20px;
}

.margin-top-2 {
  margin-top: 20px;
}

.margin-bottom-2 {
  margin-bottom: 20px;
}

.margin-left-2 {
  margin-left: 20px;
}

.margin-right-2 {
  margin-right: 20px;
}

.margin-lr-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-tb-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
  .padding-gt-xs-2 {
    padding: 20px;
  }
}

@media screen and (min-width: 600px) {
  .padding-top-gt-xs-2 {
    padding-top: 20px;
  }
}

@media screen and (min-width: 600px) {
  .padding-bottom-gt-xs-2 {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 600px) {
  .padding-left-gt-xs-2 {
    padding-left: 20px;
  }
}

@media screen and (min-width: 600px) {
  .padding-right-gt-xs-2 {
    padding-right: 20px;
  }
}

@media screen and (min-width: 600px) {
  .padding-lr-gt-xs-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 600px) {
  .padding-tb-gt-xs-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 600px) {
  .margin-gt-xs-2 {
    margin: 20px;
  }
}

@media screen and (min-width: 600px) {
  .margin-top-gt-xs-2 {
    margin-top: 20px;
  }
}

@media screen and (min-width: 600px) {
  .margin-bottom-gt-xs-2 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 600px) {
  .margin-left-gt-xs-2 {
    margin-left: 20px;
  }
}

@media screen and (min-width: 600px) {
  .margin-right-gt-xs-2 {
    margin-right: 20px;
  }
}

@media screen and (min-width: 600px) {
  .margin-lr-gt-xs-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 600px) {
  .margin-tb-gt-xs-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .padding-xs-2 {
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .padding-top-xs-2 {
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .padding-bottom-xs-2 {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .padding-left-xs-2 {
    padding-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .padding-right-xs-2 {
    padding-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .padding-lr-xs-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .padding-tb-xs-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .margin-xs-2 {
    margin: 20px;
  }
}

@media screen and (max-width: 600px) {
  .margin-top-xs-2 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .margin-bottom-xs-2 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .margin-left-xs-2 {
    margin-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .margin-right-xs-2 {
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .margin-lr-xs-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .margin-tb-xs-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.padding-3 {
  padding: 30px;
}

.padding-top-3 {
  padding-top: 30px;
}

.padding-bottom-3 {
  padding-bottom: 30px;
}

.padding-left-3 {
  padding-left: 30px;
}

.padding-right-3 {
  padding-right: 30px;
}

.padding-lr-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-tb-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.margin-3 {
  margin: 30px;
}

.margin-top-3 {
  margin-top: 30px;
}

.margin-bottom-3 {
  margin-bottom: 30px;
}

.margin-left-3 {
  margin-left: 30px;
}

.margin-right-3 {
  margin-right: 30px;
}

.margin-lr-3 {
  margin-left: 30px;
  margin-right: 30px;
}

.margin-tb-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .padding-gt-xs-3 {
    padding: 30px;
  }
}

@media screen and (min-width: 600px) {
  .padding-top-gt-xs-3 {
    padding-top: 30px;
  }
}

@media screen and (min-width: 600px) {
  .padding-bottom-gt-xs-3 {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 600px) {
  .padding-left-gt-xs-3 {
    padding-left: 30px;
  }
}

@media screen and (min-width: 600px) {
  .padding-right-gt-xs-3 {
    padding-right: 30px;
  }
}

@media screen and (min-width: 600px) {
  .padding-lr-gt-xs-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 600px) {
  .padding-tb-gt-xs-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 600px) {
  .margin-gt-xs-3 {
    margin: 30px;
  }
}

@media screen and (min-width: 600px) {
  .margin-top-gt-xs-3 {
    margin-top: 30px;
  }
}

@media screen and (min-width: 600px) {
  .margin-bottom-gt-xs-3 {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 600px) {
  .margin-left-gt-xs-3 {
    margin-left: 30px;
  }
}

@media screen and (min-width: 600px) {
  .margin-right-gt-xs-3 {
    margin-right: 30px;
  }
}

@media screen and (min-width: 600px) {
  .margin-lr-gt-xs-3 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 600px) {
  .margin-tb-gt-xs-3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .padding-xs-3 {
    padding: 30px;
  }
}

@media screen and (max-width: 600px) {
  .padding-top-xs-3 {
    padding-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .padding-bottom-xs-3 {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .padding-left-xs-3 {
    padding-left: 30px;
  }
}

@media screen and (max-width: 600px) {
  .padding-right-xs-3 {
    padding-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .padding-lr-xs-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .padding-tb-xs-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .margin-xs-3 {
    margin: 30px;
  }
}

@media screen and (max-width: 600px) {
  .margin-top-xs-3 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .margin-bottom-xs-3 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .margin-left-xs-3 {
    margin-left: 30px;
  }
}

@media screen and (max-width: 600px) {
  .margin-right-xs-3 {
    margin-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .margin-lr-xs-3 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .margin-tb-xs-3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.padding-4 {
  padding: 40px;
}

.padding-top-4 {
  padding-top: 40px;
}

.padding-bottom-4 {
  padding-bottom: 40px;
}

.padding-left-4 {
  padding-left: 40px;
}

.padding-right-4 {
  padding-right: 40px;
}

.padding-lr-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-tb-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.margin-4 {
  margin: 40px;
}

.margin-top-4 {
  margin-top: 40px;
}

.margin-bottom-4 {
  margin-bottom: 40px;
}

.margin-left-4 {
  margin-left: 40px;
}

.margin-right-4 {
  margin-right: 40px;
}

.margin-lr-4 {
  margin-left: 40px;
  margin-right: 40px;
}

.margin-tb-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (min-width: 600px) {
  .padding-gt-xs-4 {
    padding: 40px;
  }
}

@media screen and (min-width: 600px) {
  .padding-top-gt-xs-4 {
    padding-top: 40px;
  }
}

@media screen and (min-width: 600px) {
  .padding-bottom-gt-xs-4 {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 600px) {
  .padding-left-gt-xs-4 {
    padding-left: 40px;
  }
}

@media screen and (min-width: 600px) {
  .padding-right-gt-xs-4 {
    padding-right: 40px;
  }
}

@media screen and (min-width: 600px) {
  .padding-lr-gt-xs-4 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 600px) {
  .padding-tb-gt-xs-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 600px) {
  .margin-gt-xs-4 {
    margin: 40px;
  }
}

@media screen and (min-width: 600px) {
  .margin-top-gt-xs-4 {
    margin-top: 40px;
  }
}

@media screen and (min-width: 600px) {
  .margin-bottom-gt-xs-4 {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 600px) {
  .margin-left-gt-xs-4 {
    margin-left: 40px;
  }
}

@media screen and (min-width: 600px) {
  .margin-right-gt-xs-4 {
    margin-right: 40px;
  }
}

@media screen and (min-width: 600px) {
  .margin-lr-gt-xs-4 {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 600px) {
  .margin-tb-gt-xs-4 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .padding-xs-4 {
    padding: 40px;
  }
}

@media screen and (max-width: 600px) {
  .padding-top-xs-4 {
    padding-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .padding-bottom-xs-4 {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .padding-left-xs-4 {
    padding-left: 40px;
  }
}

@media screen and (max-width: 600px) {
  .padding-right-xs-4 {
    padding-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .padding-lr-xs-4 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .padding-tb-xs-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .margin-xs-4 {
    margin: 40px;
  }
}

@media screen and (max-width: 600px) {
  .margin-top-xs-4 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .margin-bottom-xs-4 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .margin-left-xs-4 {
    margin-left: 40px;
  }
}

@media screen and (max-width: 600px) {
  .margin-right-xs-4 {
    margin-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .margin-lr-xs-4 {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .margin-tb-xs-4 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.padding-5 {
  padding: 50px;
}

.padding-top-5 {
  padding-top: 50px;
}

.padding-bottom-5 {
  padding-bottom: 50px;
}

.padding-left-5 {
  padding-left: 50px;
}

.padding-right-5 {
  padding-right: 50px;
}

.padding-lr-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.padding-tb-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.margin-5 {
  margin: 50px;
}

.margin-top-5 {
  margin-top: 50px;
}

.margin-bottom-5 {
  margin-bottom: 50px;
}

.margin-left-5 {
  margin-left: 50px;
}

.margin-right-5 {
  margin-right: 50px;
}

.margin-lr-5 {
  margin-left: 50px;
  margin-right: 50px;
}

.margin-tb-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (min-width: 600px) {
  .padding-gt-xs-5 {
    padding: 50px;
  }
}

@media screen and (min-width: 600px) {
  .padding-top-gt-xs-5 {
    padding-top: 50px;
  }
}

@media screen and (min-width: 600px) {
  .padding-bottom-gt-xs-5 {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 600px) {
  .padding-left-gt-xs-5 {
    padding-left: 50px;
  }
}

@media screen and (min-width: 600px) {
  .padding-right-gt-xs-5 {
    padding-right: 50px;
  }
}

@media screen and (min-width: 600px) {
  .padding-lr-gt-xs-5 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 600px) {
  .padding-tb-gt-xs-5 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 600px) {
  .margin-gt-xs-5 {
    margin: 50px;
  }
}

@media screen and (min-width: 600px) {
  .margin-top-gt-xs-5 {
    margin-top: 50px;
  }
}

@media screen and (min-width: 600px) {
  .margin-bottom-gt-xs-5 {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 600px) {
  .margin-left-gt-xs-5 {
    margin-left: 50px;
  }
}

@media screen and (min-width: 600px) {
  .margin-right-gt-xs-5 {
    margin-right: 50px;
  }
}

@media screen and (min-width: 600px) {
  .margin-lr-gt-xs-5 {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 600px) {
  .margin-tb-gt-xs-5 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .padding-xs-5 {
    padding: 50px;
  }
}

@media screen and (max-width: 600px) {
  .padding-top-xs-5 {
    padding-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .padding-bottom-xs-5 {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .padding-left-xs-5 {
    padding-left: 50px;
  }
}

@media screen and (max-width: 600px) {
  .padding-right-xs-5 {
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .padding-lr-xs-5 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .padding-tb-xs-5 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .margin-xs-5 {
    margin: 50px;
  }
}

@media screen and (max-width: 600px) {
  .margin-top-xs-5 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .margin-bottom-xs-5 {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .margin-left-xs-5 {
    margin-left: 50px;
  }
}

@media screen and (max-width: 600px) {
  .margin-right-xs-5 {
    margin-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .margin-lr-xs-5 {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .margin-tb-xs-5 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

md-toast {
  margin-top: 100px;
}

md-toast.md-toast-error .md-toast-content {
  background-color: #B71C1C;
}

md-toast.md-toast-success .md-toast-content {
  background-color: #388E3C;
}

md-whiteframe {
  background: #fff !important;
}

.page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #eee;
}

.page-container {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 50px;
  padding-top: 100px;
}

md-sidenav {
  height: 100%;
}

.full-scale {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

.admin-page {
  background: #FFF;
  -webkit-box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

md-input-container .md-chips {
  height: 40px;
}

md-input-container .hint {
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.38);
}

input[type=number].mobile-number::-webkit-inner-spin-button,
input[type=number].mobile-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header .logo {
  max-width: 200px;
  max-height: 75px;
}

.header .md-button {
  font-size: 18px;
  font-weight: 600;
}

.header-icons svg {
  margin: 0;
}

.header-icons .md-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.icon-header {
  width: 42px;
  height: 42px;
}

.icon-sidebar {
  width: 32px;
  height: 32px;
}

.icon-dark {
  fill: #fff;
}

md-progress-circular.md-progress-white path {
  stroke: #fff;
}

.sidebar-content {
  margin: 0;
}

.sidebar-option {
  font-size: 24px;
  margin: 0;
  padding: 20px 30px;
  border-radius: 0;
  width: 100%;
}

.sidebar-option a {
  color: #424242;
}

.sidebar-option .icon {
  margin-right: 30px;
  fill: #424242;
}

.sidebar-option.selected, .sidebar-option.selected:hover {
  background: #424242;
  color: #FFF;
}

.sidebar-option.selected .icon, .sidebar-option.selected:hover .icon {
  fill: #FFF;
}

.auth-card {
  min-width: 500px;
  min-height: 800px;
}

.auth-card > * {
  width: 100%;
}

.auth-card md-content {
  background-color: #fff !important;
}

.auth-card md-content.md-padding {
  padding: 20px 50px;
}

.auth-card md-input-container, .auth-card div {
  width: 100%;
}

.auth-card button.md-raised.md-primary {
  min-width: 200px;
  min-height: 60px;
  font-size: 18px;
}

.auth-card md-tabs.auth-tabs {
  min-height: 800px !important;
}

.auth-card md-tabs.auth-tabs md-tab-item {
  font-size: 20px;
  font-weight: 600;
  min-width: 250px;
}

ng-quill-editor .ql-container {
  max-height: 500px;
}

.blog-cover-image-section {
  position: relative;
  width: 320px;
  height: 180px;
  cursor: pointer;
}

.blog-cover-image-section .upload-cover-image {
  width: 100%;
  height: 100%;
  background: #ddd;
  border: 2px dotted #424242;
}

.blog-cover-image-section .upload-cover-image h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.blog-cover-image-section .change-cover-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  visibility: hidden;
}

.blog-cover-image-section .blog-cover-image {
  width: 100%;
  height: 100%;
}

.blog-cover-image-section:hover .change-cover-image {
  visibility: visible;
}

.cover-image-crop-modal {
  min-width: 800px;
}

.cover-image-crop-modal ui-cropper {
  min-width: 500px;
  max-height: 900px;
}

.cover-image-crop-modal canvas {
  margin: 0 !important;
}

.submit-btn {
  min-width: 200px;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 0;
}
