.icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.icon-header{
    width: 42px;
    height: 42px;
}

.icon-sidebar{
    width: 32px;
    height: 32px;
}

.icon-dark{
    fill: #fff;
}

md-progress-circular.md-progress-white path{
    stroke: #fff;
}