.auth-card{
    min-width: 500px;
    min-height: 800px;

    & > *{
        width: 100%;
    }

    md-content{
        background-color: #fff !important;

        &.md-padding{
            padding: 20px 50px;
        }
    }

    md-input-container, div{
        width: 100%;
    }

    button.md-raised.md-primary{
        min-width: 200px;
        min-height: 60px;
        font-size: 18px;
    }

    md-tabs.auth-tabs{
        min-height: 800px !important;
        
        md-tab-item{
            font-size: 20px;
            font-weight: 600;
            min-width: 250px;
        }
    }

    
}
