$primary: #4CAF50;
$primary-dark: #388E3C;
$primary-light: #81C784;

$warn: #F44336;
$warn-dark: #B71C1C;
$warn-light: #E57373;


$accent: #FF9800;
$accent-dark: #E65100;
$accent-light: #FFB74D;

$white: #FFF;
$dark-gray:#424242;

$sidebar-color: $dark-gray;
$sidebar-highlight-bg: $dark-gray;
$sidebar-highlight-color: $white;

$md-toast-error-bg: $warn-dark;
$md-toast-success-bg: $primary-dark;